In [ ]:
#Step 1 Install yfinance and inport python libraries
!pip install yfinance
import yfinance as yf
import pandas as pd

#Step 2 Select Stock
ticker="MSFT"
stock = yf.Ticker(ticker)

#Step 3 Data Collection: Day data
rawdata_day = stock.history(interval="1d", start="2010-1-1", end="2023-1-1")
rawdata_day.to_csv('raw_data_day.csv')

#Step 4 Data Collection: 5 minutes data
rawdata_5min= stock.history(interval='5m')
rawdata_5min.to_csv('raw_data_5min.csv')

In [ ]:
rawdata_day.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3272 entries, 2010-01-04 00:00:00-05:00 to 2022-12-30 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          3272 non-null   float64
 1   High          3272 non-null   float64
 2   Low           3272 non-null   float64
 3   Close         3272 non-null   float64
 4   Volume        3272 non-null   int64
 5   Dividends     3272 non-null   float64
 6   Stock Splits  3272 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 204.5 KB

In [ ]:
rawdata_day

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00-05:00,23.372007,23.738387,23.349108,23.623894,38409100,0.0,0.0
2010-01-05 00:00:00-05:00,23.547566,23.738389,23.387274,23.631527,49749600,0.0,0.0
2010-01-06 00:00:00-05:00,23.570471,23.723130,23.295686,23.486509,58182400,0.0,0.0
2010-01-07 00:00:00-05:00,23.379650,23.433081,23.043802,23.242258,50559700,0.0,0.0
2010-01-08 00:00:00-05:00,23.112499,23.570474,23.081967,23.402550,51197400,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-23 00:00:00-05:00,235.520096,238.273195,233.355519,238.133545,21207000,0.0,0.0
2022-12-27 00:00:00-05:00,238.103624,238.333045,235.240799,236.367981,16688600,0.0,0.0
2022-12-28 00:00:00-05:00,236.298135,239.121066,233.584930,233.944031,17457100,0.0,0.0
2022-12-29 00:00:00-05:00,235.061228,241.315567,235.061228,240.407837,19770700,0.0,0.0
2022-12-30 00:00:00-05:00,237.614847,239.360475,236.068717,239.220825,21938500,0.0,0.0

In [ ]:
rawdata_5min.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1639 entries, 2023-03-03 12:35:00-05:00 to 2023-04-03 12:35:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1639 non-null   float64
 1   High          1639 non-null   float64
 2   Low           1639 non-null   float64
 3   Close         1639 non-null   float64
 4   Volume        1639 non-null   int64
 5   Dividends     1639 non-null   float64
 6   Stock Splits  1639 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 102.4 KB

In [ ]:
rawdata_5min

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-03-03 12:35:00-05:00,253.785004,253.949997,253.690002,253.940002,0,0.0,0.0
2023-03-03 12:40:00-05:00,253.949997,253.979996,253.800003,253.959900,113167,0.0,0.0
2023-03-03 12:45:00-05:00,253.949997,254.389999,253.929993,254.309998,229264,0.0,0.0
2023-03-03 12:50:00-05:00,254.320007,254.529999,254.110001,254.509995,168190,0.0,0.0
2023-03-03 12:55:00-05:00,254.529999,254.970001,254.523605,254.940002,178118,0.0,0.0
...,...,...,...,...,...,...,...
2023-04-03 12:15:00-04:00,285.322998,285.410004,285.079987,285.369995,247394,0.0,0.0
2023-04-03 12:20:00-04:00,285.339996,285.470001,285.079987,285.079987,134921,0.0,0.0
2023-04-03 12:25:00-04:00,285.070007,285.250000,284.605011,284.679993,230781,0.0,0.0
2023-04-03 12:30:00-04:00,284.660004,284.940002,284.429993,284.894989,212860,0.0,0.0
2023-04-03 12:35:00-04:00,284.890015,285.010010,284.869995,284.910004,69508,0.0,0.0